/* 
    Document   : graphstreamStyle
    Created on : May 21, 2014, 1:36:29 PM
    Author     : joemullen
    Description:
        Purpose of the stylesheet follows.
*/

graph {
    fill-color: white;
}
node { size: 10px; fill-color: black; text-font: Arial;
    text-size: 8;}

node.state0 { size: 20px; fill-color: black;  }

node.state1 { size:15px; fill-color: blue;  }

node.state2 { size: 10px; fill-color: red;  }

node.state3 { size: 5px; fill-color: yellow;  }

node.state4 { size: 3px; fill-color: green;  }

node.state5 { size: 2px; fill-color: black; }

node.gene { size: 30px; fill-color: orange; }
node.disease { size: 30px; fill-color: yellow; }

node.subgraph{
    size: 30; 
}

edge { shape: line; fill-color: black; text-font: Arial;
    text-size: 4;}

edge.disgenet { shape: line; fill-color: green; text-font: Arial;
    text-size: 4;}
edge.orphanet { shape: line; fill-color: blue; text-font: Arial;
    text-size: 4;}
edge.omim { shape: line; fill-color: red; text-font: Arial;
    text-size: 4;}

node#A {
    fill-color: blue;
}
node:clicked {
    fill-color: black;
}

